ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #585858;
    z-index: 10000;
}

li {
    float: left;
}

.sharelink {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 6px;
    text-decoration: none;
}

/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	background-color:#ffffff;
	width:400px;
	height:250px;
	border:5px solid #000;
	z-index: 9002;
}

#popUpDiv a {position:relative; top:20px; left:20px}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    padding: 3px;
    font-size: 65%;
}

.tooltip .tooltiptext {
    position: fixed;
    top: 1%;
    left: 60%;
    width:200px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 2px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
